.project-box {
  background: $dark-gray;
  border-radius: rem(5);
  color: $white;
  height: 100%;
  padding: rem(20);

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: rem(16 0);
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;

    & > * {
      font-size: rem(12);
      font-weight: 500;
      margin-right: rem(16);
      line-height: 1.8;
    }
  }

  &__folder-icon {
    fill: $white;
    width: rem(30);
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-size: rem(22);

    &:hover {
      color: $brand-violet;
    }
  }

  &__title {
    font-size: rem(18);
    margin: 0;
  }
}

.featured-img {
  border: rem(2) solid $white;
  display: block;
}
