.skill-card {
  // display: flex;
  // flex-direction: column;

  &__head {
    font-weight: 700;
    margin-bottom: rem(12);
  }

  &__body {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-bottom: rem(6);
      margin-right: rem(6);
    }
  }

  &__item {
    background: $medium-purple;
    border-radius: rem(4);
    color: $white;
    font-size: rem(13);
    padding: rem(3 8);
  }

  @media (min-width: pixel($breakpoint-medium)) {
    flex-direction: row;

    & > :first-child {
      min-width: rem(145);
    }
  }
}
