.hero {
  // background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  padding: rem(30 20 80);
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: rem(1024);
    text-align: center;
  }

  &__strapline {
    font-size: rem(20);
    margin-bottom: rem(4);
  }

  &__title {
    color: $sunset-yellow;
    font-size: rem(45);
    line-height: 1.1;
  }

  &__subtitle {
    color: $white;
    font-size: rem(45);
    line-height: 1.1;
  }

  &__text {
    font-size: rem(16);
    margin-top: rem(20);
  }

  @media (min-width: pixel($breakpoint-medium)) {
    padding: rem(50 20 90);

    &__content {
      flex-direction: row;
      text-align: left;

      & > * + * {
        margin-left: rem(50);
      }
    }

    &__header {
      border-right: rem(1) solid rgba(255, 255, 255, 0.35);
      padding-right: rem(50);
    }

    &__title {
      font-size: rem(55);
    }

    &__subtitle {
      font-size: rem(55);
    }

    &__text {
      font-size: rem(18);
      margin-top: 0;
    }
  }
}
