body {
  background-color: $black;
  color: $white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  padding-top: rem(50);

  @media (min-width: 768px) {
    padding-top: rem(60);
  }
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h4 {
  font-size: rem(30);
  font-weight: 700;
  margin-bottom: rem(32);
}

h5 {
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(32);
}

h6 {
  font-size: rem(16);
  font-weight: 400;
  margin-bottom: rem(32);
}

a {
  color: $brand-violet;
  font-weight: 600;
}

p {
  line-height: 1.7;
  margin-top: rem(20);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 500;
}

li,
dt,
dd {
  line-height: 1.7;
}

dt {
  font-weight: 800;
  font-size: rem(18);
}
