body {
  background: rgb(6, 13, 23);
  background: linear-gradient(
    180deg,
    rgba(6, 13, 23, 1) 0%,
    rgba(10, 20, 33, 1) 100%
  );
  color: $white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: rem(17);
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
  padding-top: rem(50);

  @media (min-width: pixel($breakpoint-medium)) {
    padding-top: rem(60);
  }
}

html,
body {
  scroll-behavior: smooth;
}

main {
  position: relative;
  z-index: 3;
}

.blog {
  h1 {
    color: $brand-violet;
    font-size: rem(48);
  }

  h2 {
    font-size: rem(32);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h4 {
  font-size: rem(28);
  font-weight: 700;
  margin-bottom: rem(32);
}

h5 {
  font-size: rem(20);
  font-weight: 700;
  margin-bottom: rem(32);
}

h6 {
  font-size: rem(16);
  font-weight: 400;
  margin-bottom: rem(32);
}

a {
  color: lighten($brand-violet, 9%);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.7;
  margin-top: rem(20);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 500;
}

li,
dt,
dd {
  line-height: 1.7;
}

dt {
  font-weight: 800;
  font-size: rem(18);
}

dl {
  margin: rem(0 0 30);

  & > *:nth-child(3n):not(:last-child) {
    margin-bottom: rem(18);
  }
}

pre {
  background-color: darken($midnight-blue2, 2%);
  padding: rem(16);
}
