$lime-green: #cddc39;
$dark-lime-green: #9cbf28;
$dark-green: #689f38;
$medium-green: #8bc34a;
$light-green: #dcedc8;
$cyan: #00bcd4;
$black: #212121;
$white: #ffffff;
$dark-gray: #414141;
$gray: #757575;
$light-gray: #bdbdbd;
$xlight-gray: #dddddd;
