$sunset-orange: #fdb248;
$sunset-yellow: #fdcd48;
$lime-green: #cddc39;
$dark-lime-green: #9cbf28;
$dark-green: #689f38;
$medium-green: #8bc34a;
$light-green: #dcedc8;
$blue: #1976d2;
$dark-blue: #013f66;
$light-cyan: #81effc;
$cyan: #00bcd4;
$light-purple: #f4f0ff;
$medium-purple: #574879;
// $purple: #4d245c;
$purple: #211a40;
$black: #212121;
$white: #ffffff;
$dark-gray: #414141;
$gray: #757575;
$light-gray: #bdbdbd;
$xlight-gray: #dddddd;
$magenta: #d82c60;

$brand-violet: #4730d3;
$brand-green: #ccf281;
