.has-shadow {
  box-shadow: rem(0 0 12) rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

.semibold {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.screenreader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-link {
  background: $black;
  border-radius: rem(4);
  color: $white;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: rem(10 16);
  text-decoration: none;

  &:hover {
    background: darken($black, 8%);
  }

  &:focus {
    box-shadow: rem(0 0 0 3) $light-cyan;
  }

  &--magenta {
    background: $magenta;

    &:hover {
      background: darken($magenta, 5%);
    }
  }
}

.text-align-center {
  text-align: center;
}

@media (min-width: 768px) {
  .text-align-center\@medium {
    text-align: center;
  }
}
