.has-shadow {
  box-shadow: rem(0 0 12) rgba(0, 0, 0, 0.15);
}

.no-margin {
  margin: 0;
}

.semibold {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.screenreader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn-link {
  background-color: $brand-violet;
  border-radius: rem(4);
  color: $white;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  padding: rem(10 16);
  text-decoration: none;

  &:hover {
    background-color: lighten($brand-violet, 5%);
    text-decoration: none;
  }

  &:focus {
    box-shadow: rem(0 0 0 2) $medium-cyan;
  }
}

.text-align-center {
  text-align: center;
}

@media (min-width: pixel($breakpoint-medium)) {
  .text-align-center\@medium {
    text-align: center;
  }
}
