@import '../../styles/abstracts.scss';

.icon-list {
  display: inline-flex;
  flex-wrap: wrap;

  & > * {
    margin: rem(0 20 14 0);
    line-height: 1.4;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: lighten($brand-violet, 7%);
        text-decoration: none;
      }
    }
  }

  & > *:not(.icon-list--custom-font-size) {
    font-size: rem(48);
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }

  &--between {
    justify-content: space-between;
  }

  &--between {
    justify-content: space-around;
  }
}
