.icon-list {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: rem(0 18 18 0);
  }

  & > * i:not(.icon-list--custom-font-size) {
    font-size: rem(48);
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }

  &--between {
    justify-content: space-between;
  }

  &--between {
    justify-content: space-around;
  }
}
