.logoWrapper {
  align-items: center;
  display: inline-flex;

  & > * + * {
    margin-left: 8px;
  }
}

.logo {
  height: 45px;
  width: 45px;
  position: relative;
  line-height: 1;
  white-space: nowrap;

  & > * {
    background-color: #fb4e4e;
    border-radius: 10px;
    height: 10px;
    width: 100%;
  }

  &::before {
    content: '';
    background-color: #178a9c;
    border-radius: 10px;
    height: 10px;
    width: 33px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    background-color: #fb4e4e;
    border-radius: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
