.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &__header {
    height: rem(50);
  }

  &__hero {
    align-self: stretch;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &__body {
    background: $white;
    box-shadow: rem(0 0 5) rgba(0, 0, 0, 0.15);
    margin: rem(0 16);
    max-width: rem($breakpoint-large);
    padding: rem(36);
    position: relative;
    top: rem(-40);
  }

  @media (min-width: pixel($breakpoint-medium)) {
    &__header {
      height: rem(60);
    }
  }
}
