@import '../../styles/abstracts.scss';

.header {
  align-items: center;
  background: $midnight-blue;
  display: flex;
  justify-content: space-between;
  padding: rem(0 16 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &__logo {
    align-items: center;
    color: $black;
    display: flex;
    font-size: rem(40);
    font-weight: 700;
    height: rem(50);
    justify-content: center;
    min-width: rem(50);
    text-decoration: none;
  }

  &__links {
    align-items: center;
    display: flex;
    list-style-type: none;

    & > * + * {
      margin-left: rem(8);
    }

    & > * {
      & > a {
        color: $white;
        display: block;
        font-size: rem(12);
        font-weight: 700;
        outline: none;
        padding: rem(6 8);
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.15s linear;

        &:hover,
        &:focus,
        &.is-active {
          color: lighten($brand-violet, 7%);
        }

        &.is-active {
          cursor: default;
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: pixel($breakpoint-medium)) {
    height: rem(60);

    &__logo {
      flex-direction: row;
      height: rem(60);
    }

    &__subtitle {
      margin-left: rem(8);
    }

    &__links {
      & > * + * {
        margin-left: rem(16);
      }

      & > * {
        & > a {
          font-size: rem(14);
        }
      }
    }
  }
}
