.header {
  align-items: center;
  background: $brand-violet;
  display: flex;
  padding: rem(0 16 0);
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  &__logo {
    align-items: center;
    color: $black;
    display: flex;
    font-weight: 700;
    height: rem(50);
    text-decoration: none;
    min-width: rem(50);
    justify-content: center;
    font-size: rem(40);
  }

  &__title {
    color: $lime-green;
    font-weight: 700;
  }

  &__subtitle {
    color: $white;
  }

  &__links {
    align-items: center;
    display: flex;
    list-style-type: none;

    & > * + * {
      margin-left: rem(8);
    }

    & > * {
      & > a {
        color: $white;
        display: block;
        font-size: rem(12);
        font-weight: 600;
        outline: none;
        padding: rem(6 8);
        text-decoration: none;
        transition: all 0.15s linear;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $brand-green;
        }

        &.is-active {
          color: $brand-green;
          cursor: default;
          text-decoration: underline;
        }
      }
    }
  }

  &--about {
    background: $purple;
  }

  &--projects,
  &--otherProjects,
  &--career {
    box-shadow: rem(0 0 8) rgba(0, 0, 0, 0.2);
    background: $white;

    a {
      color: $black;

      &:hover,
      &:focus,
      &.is-active {
        color: $brand-violet;
      }
    }
  }

  @media (min-width: pixel($breakpoint-medium)) {
    height: rem(60);

    &__logo {
      flex-direction: row;
      height: rem(60);
    }

    &__subtitle {
      margin-left: rem(8);
    }

    &__links {
      & > * + * {
        margin-left: rem(16);
      }

      & > * {
        & > a {
          font-size: rem(14);
        }
      }
    }
  }
}
