.header {
  align-items: center;
  background: $black;
  display: flex;
  height: 100%;
  padding: rem(0 20 0 0);
  justify-content: space-between;
  width: 100%;

  &__logo {
    align-items: center;
    background: $lime-green;
    color: $black;
    display: flex;
    font-weight: 700;
    height: rem(50);
    text-decoration: none;
    min-width: rem(50);
    justify-content: center;
    font-size: rem(40);
  }

  &__title {
    color: $lime-green;
    font-weight: 700;
  }

  &__subtitle {
    color: $white;
  }

  &__links {
    align-items: center;
    display: flex;
    list-style-type: none;

    & > * + * {
      margin-left: rem(8);
    }

    & > * {
      & > a {
        color: $white;
        display: block;
        font-size: rem(13);
        font-weight: 600;
        outline: none;
        padding: rem(6 8);
        text-decoration: none;
        transition: all 0.15s linear;

        &:hover,
        &:focus {
          border-bottom: rem(2) solid $gray;
        }

        &.is-active {
          border-bottom: rem(2) solid $lime-green;
          color: $white;
          cursor: default;
        }
      }
    }
  }

  @media (min-width: pixel($breakpoint-medium)) {
    height: rem(60);
    padding: rem(0 20);

    &__logo {
      flex-direction: row;
      min-width: rem(60);
      height: rem(60);
    }

    &__subtitle {
      margin-left: rem(8);
    }

    &__links {
      & > * {
        & > a {
          font-size: rem(15);
        }
      }
    }
  }
}
