.section {
  padding: rem(24);

  &--purple {
    background: #211a40;
    color: $white;
  }

  &--top-rounded {
    border-radius: rem(8 8 0 0);
  }

  @media (min-width: pixel($breakpoint-medium)) {
    padding: rem(48 64);
  }
}
