.footer {
  background-color: #111;
  color: #fff;
}

.copyrightText {
  font-size: 14px;
}

.footerLogo {
  margin: 0 auto;
}

.footerContent {
  max-width: 90%;
  text-align: center;
  padding: 24px 0;
}
