@import '../../styles/abstracts.scss';

.footer {
  background: darken($midnight-blue, 3%);
  color: $white;
  font-size: rem(14);
  padding: rem(40 20);
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 4;

  p {
    a {
      font-weight: 300;
    }
  }

  p {
    margin: rem(0 0 2);
  }
}
