.preface {
  &__content {
    font-size: rem(15);
    font-style: italic;
    margin: 0 auto;
    padding-left: rem(50);
    position: relative;
    line-height: 1.8;
    text-align: left;

    &::before {
      content: '"';
      position: absolute;
      left: 0;
      top: 0;
      font-weight: 700;
      font-size: rem(60);
      line-height: 1;
    }

    @media (min-width: pixel($breakpoint-medium)) {
      font-size: rem(18);
      padding-left: rem(80);

      &::before {
        font-size: rem(90);
      }
    }
  }
}
